.app {
  text-align: center;
}

.display {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

.link {
  color: #61dafb;
}

.assetPanels {
  border: 1px solid white;
  padding: 0px 30px;
  min-width: 600px;
  text-align: left;
}

.form-input {
  margin: 0px 20px;
}

.form-button {
  padding: 6px 25px;
  font-weight: bold;
  font-size: calc(10px + 1vmin);
}

